<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdk.pdkgiko">
    <!-- 网络访问权限申明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--在SDCard中创建与删除文件的权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="com.pdk.pdkgiko.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pdk.pdkgiko.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.pdk.pdkgiko.activity.TestActivity">

        </activity>
        <activity android:name="com.pdk.pdkgiko.activity.MediaPlayActivity">

        </activity>
        <activity android:name=".activity.GridActivity"/>
        <activity android:name=".ui.web.WebActivity"/>
        <activity android:name=".activity.ScrollActivity"/>
        <activity android:name=".activity.BehaviorSheetBottomActivity"/>

        <service
            android:name="com.pdk.pdkgiko.service.MyService"
            android:enabled="true"
            android:exported="true">

        </service>

        <receiver
            android:name="com.pdk.pdkgiko.utils.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.pdk.pdkdemo.MY_BROADCAST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>